@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
     text-decoration: none;
}
body{
    text-decoration: none;
    list-style: none;
}
.container {
    display: flex;
    height: 100vh; 
}
.left{
    position: fixed;
    color: white;
    height: 100%;
    width: 20%;
    background: #141414;
}
.left .suggestions{
    position: relative;
    padding: 25% 30px 2px 0;
    line-height: 2rem;
}
.left .suggestions ul li{
    opacity: .8;
}
.left .suggestions ul li:hover{
    cursor: pointer;
    opacity: 1;
}
.left .chats{
    opacity: 0.8;
    cursor: pointer;
    padding: 20px 20px 0px 0px;
    line-height: 1.5rem;
}
.left .chats a{
    color: #c0c0c0;
     padding-bottom: 0;
}
.left .chats a:hover{
    opacity: 1;
    cursor: pointer;
}
.left .chats p{
    font-size: .9em;
}
.left .chats p:hover{
      opacity: 1;
    cursor: pointer;
}
.yourchats{
    opacity: 0.5;
    padding: 20px 20px 0px 0px;
    line-height: 1.5rem;
}
.yourchats a{
    color: #ffffff;
     padding-bottom: 0;
}
.yourchats a:hover{
    color: #fff;
    opacity: 1;
    cursor: pointer;
}
.yourchats p{
    font-size: .9em;
}
.yourchats p:hover{
     opacity: 1;
    cursor: pointer;
}
.account{
    padding: 20px 2px 0px 10px;
}
.account a{
    font-weight: bolder;
    color: #ffffff;
    position: absolute;
    left: 0;
    margin: 50px 0px 0px 0px;
}
.account h6{
    color: rgb(255, 255, 255);
    font-weight: normal;
    position: absolute;
    left: 8%;
    margin: 50px 0px 0px 0px;
}
.account a i{
    font-size: 17px;
}
.account .btn{
    padding:7px;
    font-size: .8em;
    border-radius: 15px;
    border: .5px solid #fff;
    position: absolute;
    left: 22%;
    margin: 30px 0px 0px 100px;
    color: #fff;
    background: rgba(0, 0, 0, .8);
}

.main{
    background: #282828;
    flex: 1;
}
.main h3{
    color: #ffffff;
    position: absolute;
    top: 2%;
    left: 25%;
}
.main .head h3 i{
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    top: 5%;
    left: -25%;
}
.main a{
    position: absolute;
    top: 2%;
    left: 35%;
    color: white;
    padding: 9px 20px;
    border-radius: 15px;
    background: rgb(230, 117, 230);
}
.main .head a i{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24%;
    left: -1%;
}
.main h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2.2em;
    font-weight: normal;
    position: absolute;
    top: 40%;
    left: 43%;
    text-wrap: line;
}
.main input{
    position: absolute;
    top: 50%;
    left: 43%;
    padding: 13px 20px;
    color: white;
    font-size: 1em;
    width: 33%;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background: #373737;
    backdrop-filter: blur(10px);
}
.main input:focus{
    outline: none;
}
.main .head i{
    position: absolute;
    top: 70%;
    left: 60%;
}