@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
     text-decoration: none;
}
body{
    text-decoration: none;
    list-style: none;
}
.container {
    display: flex;
    height: 100vh; 
}
.left{
    position: fixed;
    color: white;
    height: 100%;
    width: 20%;
    background: #141414;
}
.left .ai i{
    position: absolute;
    top: 4%;
    left: 0%;
    font-size: 1.4em;
    cursor: pointer;
}
.left .side i{
    position: absolute;
    top: 4%;
    transform: rotate(90deg);
    left: 80%;
    font-size: 1.4em;
    cursor: pointer;

}
.left .suggestions{
    position: relative;
    padding: 25% 30px 10px 0px;
    line-height: 2rem;
}
.left .suggestions ul li{
    opacity: 1;
}
.left .suggestions ul li:hover{
    cursor: pointer;
    opacity: .6;
}
.left .chats{
    opacity: 1;
    cursor: pointer;
    padding: 20px 20px 0px 0px;
    line-height: 1.5rem;
}
.left .chats a{
    opacity: 1;
    color: #ffffff;
    padding-bottom: 0;
}
.left .chats a:hover{
    opacity: .6;
    cursor: pointer;
}
.left .chats p{
    font-size: .9em;
}
.left .chats p:hover{
    opacity: .6;
    cursor: pointer;
}
.yourchats{
    opacity: 1;
    padding: 20px 20px 0px 0px;
    line-height: 1.5rem;
}
.yourchats a{
    color: #ffffff;
    padding-bottom: 0;
}
.yourchats a:hover{
    color: #fff;
    opacity: .6;
    cursor: pointer;
}
.yourchats p{
    font-size: .9em;
}
.yourchats p:hover{
    opacity: .6;
    cursor: pointer;
}
.account{
    padding: 20px 2px 0px 10px;
}
.account a{
    font-weight: bolder;
    color: #ffffff;
    position: absolute;
    left: 0;
    margin: 50px 0px 0px 0px;
}
.account h6{
    color: rgb(255, 255, 255);
    font-weight: normal;
    position: absolute;
    left: 8%;
    margin: 50px 0px 0px 0px;
}
.account a i{
    font-size: 17px;
}
.account .btn{
    padding:7px;
    font-size: .8em;
    border-radius: 15px;
    border: .5px solid #fff;
    position: absolute;
    left: 22%;
    margin: 30px 0px 0px 100px;
    color: #fff;
    background: rgba(0, 0, 0, .8);
}
.account .btn:hover{
    background: #373737;
    color: #fff;
    border: 1px solid #141414;
}
.main{
    background: #282828;
    flex: 1;
}
.main h3{
    color: #ffffff;
    position: absolute;
    top: 3.2%;
    left: 25%;
    padding: 7px 5px 7px 5px;
}
.main h3:hover{
    cursor: pointer;
    background: #373737;
    border-radius: 5px;
}

.main .head h3 i{
    padding: 8.7px 5px 7px 5px;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    top: 5%;
    left: -25%;
}
.main a{
    position: absolute;
    top: 2%;
    left: 53%;
    color: white;
    margin: auto;
    padding: 7px 20px 8px 35px;
    border-radius: 15px;
    background: rgb(230, 117, 230);
}
.main a:hover{
    background: rgb(230, 120, 250);
}
.main .head a i{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24%;
    margin-left: -56px;
}

.main .head .user{
    position: absolute;
    top: 3%;
    color:#ffffff;
    left: 90%;
    display: flex;
    justify-content: space-between;
    opacity: 1;
}
.main .head .msg{
    position: absolute;
    top: 3%;
    color:#ffffff;
    left: 93%;
    opacity: 1;
}
.main .head .user:hover, .main .head .msg:hover{
    opacity: .6;
    cursor: pointer;
}
.main .bar .plus i{
    position: absolute;
    top: 52.7%;
    font-size: 1.6em;
    font-weight: normal;
    left: 35.5%;
    color: white;
    z-index: 1;
}
.main .bar .plus i:hover{
    cursor: pointer;
}

.main h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2.2em;
    font-weight: normal;
    position: absolute;
    top: 40%;
    left: 43%;
}
.main input{
    position: absolute;
    top: 50%;
    left: 35%;
    padding: 20px 13px 20px 40px;
    color: white;
    font-size: 1em;
    width: 50%;
    border-radius: 30px;
    border: none;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    background: #373737;
    backdrop-filter: blur(10px);
}
.main input:focus{
    outline: none;
}
.main .head i{
    position: absolute;
    top: 70%;
    left: 60%;
}