@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
     text-decoration: none;
}
body{
    text-decoration: none;
    list-style: none;
}
.container {
    display: flex;
    height: 100vh; 
}
.left{
    color: white;
    height: 100%;
    width: 30%;
    background: rgb(20, 20, 20);
}
.left .suggestions{
    position: relative;
    padding: 25% 30px 2px 0;
    line-height: 2rem;
}
.left .chats{
    padding: 20px 20px 0px 0px;
    line-height: 1.5rem;
}
.left .chats a{
    color: #c0c0c0;
     padding-bottom: 0;
}
.left .chats p{
    font-size: .9em;
}
.left .yourchats{
    padding: 20px 20px 0px 0px;
    line-height: 1.5rem;
}
.left .yourchats a{
    color: #c0c0c0;
     padding-bottom: 0;
}
.left .yourchats p{
    font-size: .9em;
}
.account{
    background: black;
    padding: 20px 2px 0px 10px;
}
.account a{
    position: absolute;
    margin: 50px 0px 0px 0px;
}
.account h6{
    color: black;
    position: absolute;
    margin: 50px 0px 0px 0px;
}
.account .btn{
    padding:7px;
    border-radius: 10px;
    position: absolute;
    margin: 30px 0px 0px 100px;
    color: #fff;
    background: rgb(235, 192, 235);
}.main{
    background: blanchedalmond;
    flex: 1;
    
}